body {
    background: url('pictures/signup_bg.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.signup-container {
    max-width: 600px;
    width: 100%;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.signup-container h2 {
    margin-bottom: 1.5rem;
}
.input-group {
    display: flex;
    align-items: flex-end; 
}

.input-group-item {
    margin-right: 10px; 
}

.input-group-item:nth-child(1) {
    margin-right: 5;
    width: 46%;
}

.input-group-item:last-child {
    margin-right: 0; 
}